body {
    background-image: url(../images/pokedex_vector_OGartistCristopheros.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-color: black;
}