body {
    background-image: url(../images/pokedex_vector_OGartistCristopheros.png), url(../images/Pokemon_Original_Starters.jpg), linear-gradient(0deg ,#ffca00,#ff9400);
    background-repeat: no-repeat, no-repeat;
    background-size: auto, contain;
    background-position: right, left;
    overflow-y: hidden;
    overflow-x: hidden;
}

ul {
    list-style: none;

}


p {
background: none;
}

#pokeSprite {
position: relative;
top: -1.3em;
left: 51.9em;
}

#titles {
font-weight: bold;
position: relative;
top: 8em;
left: 48em;
}

#formDetails {
position:relative;
top: -2.35em;
left: 53em;
}

#pokemonForm {
position: relative;
top: 8em;
}

button {
    background-color: transparent;
    color: black;
    font-weight: bold;
}

.button {
    background-color: transparent;
    color: darkgrey;
    position: relative;
    top: 20.5em;
    left: 77.7em;
}
