body {
    background-image: url(../images/pokedex_vector_OGartistCristopheros.png), url(../images/Pokemon_Original_Starters.jpg), linear-gradient(0deg ,#ffca00,#ff9400);
    background-repeat: no-repeat, no-repeat;
    background-size: auto, contain;
    background-position: right, left;
}

ul {
    list-style: none;

}

form {
    align: left;
}

button {
    background-color: transparent;
    color: black;
    font-weight: bold;
}

.button {
    background-color: transparent;
    color: darkgrey;
    position: relative;
    top: 29.5em;
    left: 77.7em;

}
